body {
  background: white;
}

#content #textframe{
  position: relative;
  float: left;
  width: 290px;
  height: 200px;

}

#textframe ul{
  width: 70px;

}

#textframe iframe{
  width: 200px;
  float: right;
  height: 180px;
  

}

#emailframe{
  position: relative;
  float: left;
  margin: 0 0px 0 20px;
  width: 249px;
  height: 200px;
 } 


#emailframe iframe{
  width: 250px;
  height: 180px;
  border-color: #CC3333;
  overflow: hidden;

}


textarea.message{
  width: 200px;
  height: 90px;
  scrolling: auto;

}
input.name{
  width: 200px;

}

input.email{
  width: 158px;

}
input.submit{
  width: 40px;
  background-color: #ffffff;
}


#radioframe{
  position: relative;
  float: right;
  width: 220px;
  height: 750px;
  overflow: hidden;
 
}


#radioframe iframe{
  height: 740px;
  width: 220px;
  border-color: #339933;
  scrolling: none;
  overflow: hidden;


}
